// Extra Large grid

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (max-width: $screen-xl) {}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (max-width: $screen-lg) {}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
@media (max-width: $screen-md) {
    .text-scale-down-sm {
        font-size: 1 / $scale-2 + em;
    }
}

// Small grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
@media (max-width: $screen-sm) {
    .text-scale-down-xs {
        font-size: 1 / $scale-4 + em;
    }

}

// Extra Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
@media (max-width: $screen-xs) {
    html {
        font-size: 0.75em;
    }

    .text-scale-down-sm {
        font-size: 0.75em;
    }
}