.col-fill{
    width: 0px;
}
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/plasma.css/src/plasma/plasma.scss";

.col-fill {
    flex: 1 1 auto;
};

// //===========================
// // Variables and mixins
// //===========================
// @import "base/shapes/circle";
// @import "base/variables";
// @import "**/_variables.scss";
// @import "**/_mixins.scss";
@import "base/_variables.scss";

@import "components/typography/typography.scss";
@import "components/buttons/_buttons.scss";
@import "components/button-ghost/button-ghost.scss";
@import "components/icons/icons.scss";
@import "components/footer/footer.scss";
@import "components/highlight/elements/highlight-box/highlight-box.scss";
@import "components/cards/cards.scss";

@import "components/row-scrollable/_row-scrollable.scss";
@import "behaviors/scroll/_scroll.scss";
@import "colors/_colors.scss"