.bg-orange {
	background: #ff5400;
    color: #fff;
    a,
    a:visited,
    .btn-link {
        color: #fff;
        transition: transform 0.25s;

        &:active,
        &:focus,
        &:hover {
            color: #fff;
		    transform: scale(1.08);
            text-decoration: none;
        }
    }
};