@import "variables";
@import "base";
@import "utilities";
@import "fonts/**/*";
@import "elements/**/*";
@import "behaviors/**/*";
@import "helpers";
// Components
.btn-group {
    > .btn-link {
        display: inline-block;
        margin-right: 24px;
    }
}

a,
a:visited,
.btn-link {
    color: #ff5400;
    font-weight: 700;
    &:active,
    &:focus,
    &:hover {
        color: #ff8d04;
        text-decoration: none;
    }
}

.icon-arrow-right:after {
    content: " →";
    vertical-align: middle;
}

.icon-arrow-down:after {
    content: " ↓";
    vertical-align: middle;
}

summary {
    margin-bottom: 48px;
}

.footer {
    background: #ff5400;
    color: #fff;
    min-height: 12px;
    margin-top: 24px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    padding: 6px 12px;
    a,
    a:visited,
    .btn-link {
        color: #fff;
        &:active,
        &:focus,
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.center-contents-y {
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding-bottom: 24px;
    .center-y {
        margin-top: auto;
        margin-bottom: auto;
    }
}

// Media Queries
@media screen and (min-height: 24 * 30 * 1px) {
    // Helpers - Layout
    .center-contents-y {
        height: (24 * 30 * 1px) - 48;
    }
}

@media screen and (min-height: 24 * 25 * 1px) {
    // Helpers - Layout
    .center-contents-y {
        height: (24 * 25 * 1px) - 48;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) and (min-height: 24 * 20 * 1px) {
    // Helpers - Layout
    .center-contents-y {
        height: (24 * 20 * 1px) - 48;
    }
}


/* Landscape phone to portrait tablet */

@media screen and (max-width: 767px) and (max-height: 24 * 15 * 1px) {
    .text-scale-down-xs {
        font-size: (1 / $scale-2) + em;
    }
    // Helpers - Layout
    .center-contents-y {
        height: (24 * 15 * 1px) - 48;
    }
}


/* Landscape phones and down */

@media screen and (max-width: 480px) and (max-height: 24 * 10 * 1px) {
    // Helpers - Layout
    /*    .center-contents-y {
      height: (24 * 15 * 1px) - 48;
      padding-bottom: 24px;
    }*/
}

@media screen and (max-width: 480px) {
    .text-scale-down-xs {
        font-size: (1 / $scale-3) + em;
    }
}