.scrollable {
    overflow: auto;

    &-y {
        overflow-x: hidden;
    }

    &-x {
        overflow-y: hidden;
    }
}

.scrollbar {
    overflow: scroll;

    &-y {
        overflow-x: hidden;
    }

    &-x {
    	padding-bottom: 16px;
        overflow-y: hidden;
    }
}